
/*

*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif; /*font chử cho cả website-> thẻ có chứa chử*/
}

#main {
    
}
/*  từ ngoài vào trong
từ trên xuống dưới
vị trí
kích thước (with, height)
màu sắc
kiểu dáng (kiểu chử, form, hình)
*/

/*Common - class dùng chung*/


.btn {
    padding: 11px 15px;
    display: inline-block;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    text-decoration: none; /*bỏ gạch chân thẻ a*/
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.text-center {
    text-align: center;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-full {
    width: 100%;
}

.column-half {
    width: 50%;
}

.column-third {
    width: calc(100% / 3);
}

/*Main*/
#header {
    position: fixed; /*để thanh header dính sát vào mép trên*/
    top: 0; left: 0; right: 0px; /*top0 dính sát vào top, left0 vào trái, right0 vào phải*/
    height: 46px;
    background-color: black;   
    z-index: 1; /*nổi / chìm thứ đc chỉ định*/
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none; /*loai bo dau cham o the li*/
}

#nav > li {
    display: inline-block;
}

#nav li{
    position: relative; /*cho the cha li thanh relative de the con thanh absolute->
    the con xuat hien ben duoi the cha. the cha o day la the li cua nav, the con la 
    li cua subnav*/
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase; /*chu hoa*/
}


#nav li a{
    text-decoration: none; /*gạch chân các thẻ <a> Home </a> */
    line-height: 46px; /*căn giữa chử trong ô*/
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav  { /*CSS cho cái hover là cái li(li:hover)
chứa subnav cả 2 cái đó là con của nav)|| khi chọn vô thì sổ ra||  */
display: block;
}

#nav .subnav li:hover a, /*hover vào thẻ a là con của thẻ li thuộc nav subnav */
#nav > li:hover > a{ /*>:hover -> khi di chuột vào thì thực hiện*/
    color:  #000;
    background-color: #ccc;

}


#nav .subnav{
    display:none;
    min-width: 160px; /*chiều ngang tối thiểu, nếu trang web to ra thì nó cũng to, ngược lại*/
    position: absolute;/*lam cho "Merchandise, Extras, Media" tro thanh con cua "More"
    -> o duoi "More"*/
    top: 100%;
    left: 0;
    /*them top va left de moi trinh duyet deu chay dc
    */   
    /*top: day cai nay(subnav) xuong 100% độ dày của cha nó là nav,
    left: đẩy cai nay(subnav)theo trục left* của nav*/
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);   /*bóng đổ*/
    
}

#nav .subnav a  { 
    color: #000;
    padding: 0 12px; /*padding : trenduoi traiphai*/
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .search-btn {
    float: right;
    padding: 0 21px;    
}

#header .search-btn:hover {
    cursor: pointer; /*Khi di chuột vào thì con trỏ sẻ chuyển sang hình bàn tay(pointer)*/
    background-color: #f44336;
}

#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*50% của chính nó*/
    background: url(/assets/img/slider/chicago.jpg) top center / cover no-repeat; /*css backrough img*/

}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    /*left: 50%;
    transform: translateX(-50%);*/
    width: 100%;
    text-align: center;    
}

#slider .text-heading {
    font-weight: 400;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}

#content {
    
}

#content .content-section {
    width: 800px;
    padding: 64px 0;
    margin-left: auto; margin-right: auto; /*đẩy sang trái phải auto-căng giữa*/
    /*Tablet Responsive*/
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;

}

#content .section-heading{
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    margin: 15px 0;
    text-align: center;
    font-size: 15px;
    font-style: italic; /*chử nghiêng*/
    opacity: 0.4; /*độ đậm nhạt chử*/
}

#content .about-text{
    margin: 15px 0;
    font-size: 15px;
    text-align: justify; /*căn đều 2 bên*/
    line-height: 1.6;
}

#content .members-list {
    margin: 48px 0;
  
}

#content .member-name {
    margin: 15px 0;
    font-size: 15px;
}

#content .member-img {
    margin-bottom: 16px;
    width: 154px;
    border-radius: 5px; /*tạo bo góc cho ảnh*/
}

.tour-section {
    background: #000;
    
}

.tickets-list {
    background-color: #fff;
}

.tickets-list li {
    color: #757575;
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px #ccc solid;
    list-style-type: none;
}

.tickets-list .Sold-out {
    background-color:#F44336;
    color: #fff;
    padding: 3px 6px;
    margin-left: 16px;
}

.tickets-list .Quantity {
    float: right; 
    margin-top: -3px;
    width: 24px;
    height: 24px;
    background-color: black;
    color: white;
    text-align: center; /*căn giữa 2 bên*/
    line-height: 24px; /*căn giữa trên dưới. bằng chiều cao*/
    border-radius: 50%; /*làm đường tròn*/ 
}

/*Place*/
.places-list{
    margin-top: 32px;
    margin-bottom: 48px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}
.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
    line-height: 1.4;
}

.place-decs {
    margin-top: 15px;
    margin-bottom: 15px;
}

.place-buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

/*Footer section*/
#footer {
    padding: 64px 16px;
}

#footer .socials-list {
    font-size: 24px;
    
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .socials-list a:hover,
#footer .copyright a {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
}


/*Modal*/
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;  
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background: #fff;
    width: 900px; 
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalAppear ease 0.8s;
}

.modal-header {
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;

}

.modal-header>i {
    margin-right: 16px;
}

.modal-close:hover {
    background-color: #ccc;
    color: #000;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 16px;
    cursor: pointer;
}

.modal-body{
    padding: 16px;
}

.modal-label {
    margin-bottom: 12px;
    display: block;
    font-size: 15px;
}

.modal-input {
    padding: 8px 8px;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 15px;
    margin-bottom: 24px;
}

.buy-ticket:hover{
    background-color: #ccc;
    color: #000;
}

.buy-ticket {
    width: 100%;
    height: 54px;
    padding: 16px;
    background-color: rgb(0, 150, 136);
    color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 15px;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.modal-footer a {
color:#2196F3;
}

.contact-content {
    margin : 32px 0;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-controll:hover{
outline: 1px solid #ccc;
}

.contact-form .form-controll {
    padding: 8px;
    border: 1px solid #ccc;
    width: 100%;
}

/*Map section*/
.map-section img {
    width: 100%;
}

@keyframes modalAppear {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}